<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons class="backbtn" routerLink="/my-cart" routerDirection="back">
        <img src="../../assets/back-dark.svg" />
      </ion-buttons>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen="true">

  <h1 class="title">Checkout</h1>
  <div class="form-container">
    <form>
        <ion-list [formGroup] = "registrationForm" (ngSubmit)="Submit()">

            <ion-item>
            <ion-label position="floating">Nome</ion-label>
                <ion-input formControlName="nome"  autocapitalize inputmode="text"></ion-input>
            </ion-item>
            <div *ngFor="let error of errorMessages.nome">
              <ng-container *ngIf="nome.hasError(error.type) && (nome.dirty || nome.touched)">
                  <small class="error-message">{{error.message}}</small>
              </ng-container>
          </div>
    </ion-list>
   

    </form>
</div>
</ion-content>
<ion-footer translucent="true" class="ion-no-border" mode="md">
  <ion-toolbar color="translucent">
    <ion-button   expand="block" class="main-button" routerLink="/confirm" routerDirection="forward" [disabled]="!registrationForm.valid" >Enviar</ion-button>
  </ion-toolbar>
</ion-footer>