<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" class="backbtn" routerLink="/item-details" routerDirection="back">
        <img src='../../assets/back-dark.svg' />
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="title">Termos</h1>

  <div class="order-items">
    <ion-card mode="ios">
      <ion-card-content>
        <div class="item-img">
          <img src='../../assets/cart/cart1.png' />
        </div>

        <div class="item-info">
          <ion-label>Valor: </ion-label>
          <ion-input [(ngModel)]="payment.transactionAmount"></ion-input>
          <ion-label>Descrição: </ion-label>
          <ion-input [(ngModel)]="payment.description"></ion-input>

          <img src="{{paymentResponse.qrCodeBase64}}"/>
          <p>pix copia e cola:</p>
          <p>{{paymentResponse.qrCode}}</p>
        </div>
        <ion-button expand="block" class="main-button" (click)="doar()">Doar</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
