<ion-header>
  <ion-toolbar>
    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="confirmation">
    <div class="ion-text-center">

      <div class="outer-circle">
        <div class="inner-circle">
          <img src="https://images.squarespace-cdn.com/content/v1/6258e314ed49ee79cb2528ec/7cfd3fa2-6c02-462d-b203-3b653e1fa1a0/Png-transparent-background-logo-only.png" />
        </div>
      </div>

      <h2>Confirmação</h2>
      <p>
        Seu pedido de adoção foi realizado com sucesso!<br>
        Em breve entraremos em contato por e-mail com as próximas etapas.
      </p>
    </div>
  </div>
</ion-content>
<ion-footer translucent="true" class="ion-no-border" mode="md">
  <ion-toolbar color="translucent">
    <ion-button expand="block" class="main-button" routerLink="/home" routerDirection="back">Voltar para Home</ion-button>
  </ion-toolbar>
</ion-footer>