<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="backbtn" routerLink="/welcome" routerDirection="back">
        <img src="../../assets/back.svg" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-padding container">
    <h1>Cadastrar-se</h1>

    <div class="form-container">
      <form [formGroup]="registrationForm">
      <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input formControlName="nome" inputmode="text"></ion-input>
      </ion-item>
      <div *ngFor="let error of errorMessages.nome">
        <ng-container *ngIf="nome.hasError(error.type) && (nome.dirty || nome.touched)">
            <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email" inputmode="text" type="email" placeholder="email@domain.com"></ion-input>
      </ion-item>
      <div *ngFor="let error of errorMessages.email">
        <ng-container *ngIf="email.hasError(error.type) && (email.dirty || email.touched)">
            <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password" formControlName="senha"></ion-input>
        <ion-icon name="eye" slot="end"></ion-icon>
      </ion-item>
      <div *ngFor="let error of errorMessages.senha">
        <ng-container *ngIf="senha.hasError(error.type) && (senha.dirty || senha.touched)">
            <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="floating">Telefone</ion-label>
        <ion-input formControlName="telefone"></ion-input>
      </ion-item>
      <div *ngFor="let error of errorMessages.telefone">
        <ng-container *ngIf="telefone.hasError(error.type) && (telefone.dirty || telefone.touched)">
            <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>

      <ion-button expand="block" class="main-button" [disabled]="!registrationForm.valid" (click)="cadastrar()">CADASTRAR</ion-button>

      <div class="sign-up">
        Já possui uma conta? <ion-button color="dark" fill="clear" routerLink="/login" routerDirection="forward">Entrar</ion-button>
      </div>
    </form>
    </div>
  </div>
</ion-content>
