<!--<ion-content>
  <h1 class="title">Perfil</h1>

  <div class="profile-info">
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input [(ngModel)]="usuario.nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input [(ngModel)]="usuario.telefone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input [(ngModel)]="usuario.email"></ion-input>
    </ion-item>
    <ion-item *ngIf="usuario.cpf">
      <ion-label position="floating">CPF</ion-label>
      <ion-input [(ngModel)]="usuario.cpf"></ion-input>
    </ion-item>
    <div *ngIf="usuario.endereco">
      <h4>Endereço</h4>
      <ion-item>
        <ion-label position="floating">Logradouro</ion-label>
        <ion-input [(ngModel)]="usuario.endereco.cep"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Logradouro</ion-label>
        <ion-input [(ngModel)]="usuario.endereco.logradouro"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input [(ngModel)]="usuario.endereco.numero"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Logradouro</ion-label>
        <ion-input [(ngModel)]="usuario.endereco.complemento"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Logradouro</ion-label>
        <ion-input [(ngModel)]="usuario.endereco.bairro"></ion-input>
      </ion-item>
    </div>
  </div>
</ion-content>
-->