<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" class="backbtn" routerLink="/home" routerDirection="back">
        <img src="../../assets/back-dark.svg" />
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
        <span>&nbsp;</span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" class="product-slider">
    <ion-slide>
      <img [src]="animal.imagem"/>
    </ion-slide>
    <ion-slide>
      <img src="../../assets/product-slider/prod-slide1.png" />
    </ion-slide>
    <ion-slide>
              <img src="../../assets/product-slider/prod-slide1.png" />
    </ion-slide>
  </ion-slides>

  <div class="ion-padding-vertical">
    <h1 class="item-name">{{animal.nome}}</h1>

    <h4 class="price">
      {{animal.sexo}}
    </h4>
  </div>

  <div class="seperator">
    <hr>
  </div>

  <div class="review">
    
    <ion-row>
      <ion-col size="6">
        <div class="rating">
          <img src="../../assets/product-slider/seringa.png" />
        </div>

        {{animal.vacinado}}
      </ion-col>
      <ion-col size="6">
        <div class="rating">
          <img src="../../assets/product-slider/medicine.png" />
        </div>
        {{animal.vermifugado}}
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col size="6">
        <div class="rating">
          <img src="../../assets/product-slider/birthday.png" />
        </div>

        {{animal.idade}}
      </ion-col>
      <ion-col size="6">
        <div class="rating">
          <img src="../../assets/product-slider/weighing-scale.png" />
        </div>
         {{animal.porte}}
      </ion-col>

    </ion-row>
  </div>

  <div class="seperator">
    <hr>
  </div>

  <div class="description">
    <h5>Descrição</h5>

    <p>
      {{animal.descricao}}
    </p>

  </div>

  <div class="seperator">
    <hr>
  </div>



 
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col size="6">
      <ion-button expand="full" color="light" routerLink="/my-orders" routerDirection="forward" >Apadrinhar</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="full" routerLink="/my-cart" routerDirection="forward">Adotar</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>